## Data Visualisation - Graded Questions

`Note` - *This stub file doesn't contain the conceptual questions asked on the platform*

### I) Marks Analysis

In the **'Marks.csv'** file, you can find the scores obtained by 200 students in 4 subjects of a standardised test. The different columns - `Score A`, `Score B`, `Score C` and `Score D` indicate the score obtained by a particular student in the respective subjects A, B, C and D.



Load the dataset to your notebook and answer the following questions

In [1]:
#Load the necessary Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Load the dataset
df1 = pd.read_csv('Marks.csv')
df1.head()

   Score A  Score B  Score C  Score D
0    230.1     37.8     69.2     22.1
1     44.5     39.3     45.1     10.4
2     17.2     45.9     69.3     12.0
3    151.5     41.3     58.5     16.5
4    180.8     10.8     58.4     17.9

**Q1)** Load the dataset and plot a histogram for the `Score A` column by keeping the `number of bins to 6`. Which bin range among the following has the highest frequency?

(`Note` - *The bin ranges mentioned in the options are approximate values for the bin ranges that you'll actually get when you plot the histogram*)

    a)0-50
    b)50-100
    c)150-200
    d)200-250

In [ ]:
#Your code here

**Q2)** Plot a box plot for the column `Score C` and choose the correct option.

    A - The 25th percentile lies between 20 and 40
    B - The 75th percentile lies between 40 and 60
    C - The 25th percentile lies between 0 and 20
    D - Both B and C

In [ ]:
#Your code here

### II) Superstore Data

In the `superstore.csv` file, you have the details of orders purchased in an American online retail store. Load the dataset, observe and analyse the different columns and answer the following questions.

In [ ]:
#Load the dataset
df2 =

**Q4)** Plot a pie-chart to find the Ship Mode through which most of the orders are being delivered.

     a)Standard Class
     b)First Class
     c)Second Class
     d)Same Day

In [ ]:
#Your code here

**Q5)** Plot a bar chart comparing the average `Discount` across all the `Regions` and report back the `Region` getting the highest average discount

**Note** - You need to clean the `Discount` column first

    a)Central
    b)South
    c)West
    d)East

In [ ]:
#Your code here